// ------------------------------------------------------------------------
// Mixin: Centering with display: table;
// ------------------------------------------------------------------------
//

// Definition
// ------------------------------------------------------------------------
@mixin align ( $child: "div", $x: center, $y: middle ) {
  display: table;

  & > #{$child} {
    display: table-cell;
    text-align: $x;
    vertical-align: $y;
  }
}


// Examples / Usage
// ------------------------------------------------------------------------
.mixup--box-element {
  @include align (".mixup--child-element", center, middle);
}
