// ------------------------------------------------------------------------
// Mixin: Cleafix
// ------------------------------------------------------------------------
//

// Definition
// ------------------------------------------------------------------------
@mixin clearfix () {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


// Examples / Usage
// ------------------------------------------------------------------------
.mixup--box-element {
  @include cleafix();
}
