// ------------------------------------------------------------------------
// Mixin: Container Ratio
// ------------------------------------------------------------------------
//

// Definition
// ------------------------------------------------------------------------
@mixin ratio-box (
  $width: 16,
  $height: 9
) {
  
  display: block;
  height: 0;
  padding-bottom: ($height / $width) * 100%;
}


// Examples / Usage
// ------------------------------------------------------------------------
.mixup--box-element {
  @include ratio-box(16, 9);
}
